{% extends "dashboard-layout.twig" %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1>Template List</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-success bootstrap-admin-alert hidden">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4>Success</h4>
			The operation completed successfully
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div id="edit-template" class="iziModal">
			<form id='frm-edit-template' class="form-horizontal" method="post" action="/template/".{{template._id}}."/update" style="padding:20px">
				<div class="form-group">
					<div class="col-lg-12">
						<input class="form-control" id="e_nama" name="nama" type="text" placeholder="Nama">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<input class="form-control" id="e_alias" name="alias" type="text" placeholder="Alias">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<textarea id="e_konten" name="konten" style="width:100%" placeholder="Template"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<button class="btn btn-xs btn-primary" >Tambah</button>&nbsp;<a class="btn btn-xs btn-warning" onclick="$('#edit-template').iziModal('close');">Batal</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div id="add-template" class="iziModal">
			<form id='frm-template' class="form-horizontal" method="post" action="/template" style="padding:20px">
				<div class="form-group">
					<div class="col-lg-12">
						<input class="form-control" id="nama" name="nama" type="text" placeholder="Nama">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<input class="form-control" id="alias" name="alias" type="text" placeholder="Alias">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<textarea id="konten" name="konten" style="width:100%" placeholder="Template"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<button class="btn btn-xs btn-primary" >Tambah</button>&nbsp;<a class="btn btn-xs btn-warning" onclick="$('#add-template').iziModal('close');">Batal</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="navbar navbar-default bootstrap-admin-navbar-thin">
			<ol class="breadcrumb bootstrap-admin-breadcrumb">
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li>
					<a href="#">Email Template</a>
				</li>
				<li class="active">Template List</li>
			</ol>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-muted bootstrap-admin-box-title">Template List | <a class="btn btn-xs btn-primary btn-add-template">Add</a>&nbsp;<button class="btn btn-xs btn-success" id="btn-edit-template">Edit</button>&nbsp;<button class="btn btn-xs btn-warning" onclick="del_templ()">Delete</button>
				</div>
			</div>
			<div class="bootstrap-admin-panel-content">
				<table class="table table-bordered" id="example">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nama</th>
							<th>Alias</th>
						</tr>
					</thead>
					<tbody>
						{% for data in templdata %}
						<tr class="odd gradeX edit-table" id={{ data._id }}>
							<td>{{ data._id }}</td>
							<td>{{ data.nama }}</td>
							<td>{{ data.template_alias }}</td>
							<input type="hidden" value='{{ data.konten }}' id='hkonten'></input>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

{% endblock %}

{% block addScript %}
<script type="text/javascript" src="/vendors/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/vendors/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/vendors/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('textarea#konten').ckeditor({
		height: '200px'
	});

	$('textarea#e_konten').ckeditor({
		height: '200px'
	});
});
</script>
<script>
    $('.menu-utama li:eq(6)').addClass('active');
</script>
{% endblock %}
