<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/css/bootstrap-theme.min.css">

    <!-- Bootstrap Admin Theme -->
    <link rel="stylesheet" media="screen" href="/css/bootstrap-admin-theme.css">
    <link rel="stylesheet" media="screen" href="/css/bootstrap-admin-theme-change-size.css">

    <!-- Vendors -->
    <link rel="stylesheet" media="screen" href="/vendors/easypiechart/jquery.easy-pie-chart.css">
    <link rel="stylesheet" media="screen" href="/vendors/easypiechart/jquery.easy-pie-chart_custom.css">

    <link rel="stylesheet" media="screen" href="/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/core-b3.css">

    <!-- zizModal - Plugin -->
    <link href="/css/iziModal.min.css" rel="stylesheet" type="text/css">

    <link href="/css/styles.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
           <script type="text/javascript" src="js/html5shiv.js"></script>
           <script type="text/javascript" src="js/respond.min.js"></script>
           <![endif]-->
       </head>
       <body class="bootstrap-admin-with-small-navbar">
        <!-- small navbar -->
        <nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar-sm" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="collapse navbar-collapse">
                            <!-- <ul class="nav navbar-nav navbar-left bootstrap-admin-theme-change-size">
                                <li class="text">Change size:</li>
                                <li><a class="size-changer small">Small</a></li>
                                <li><a class="size-changer large active">Large</a></li>
                            </ul> -->
                            <ul class="nav navbar-nav navbar-right">
                                <!--<li>
                                    <a href="#">Settings <i class="glyphicon glyphicon-cog"></i></a>
                                </li>-->
                                <li class="dropdown">
                                    <a href="#" role="button" class="dropdown-toggle" data-hover="dropdown"> <i class="glyphicon glyphicon-user"></i> Admin <i class="caret"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Profile</a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- main / large navbar -->
        <nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar bootstrap-admin-navbar-under-small" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/dashboard">BMT - Mailer</a>
                        </div>
                        <div class="collapse navbar-collapse main-navbar-collapse">
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div><!-- /.container -->
        </nav>

        <div class="container-fluid">
            <!-- left, vertical navbar & content -->
            <div class="row">
                <!-- left, vertical navbar -->
                <div class="col-md-2 bootstrap-admin-col-left">
                    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side menu-utama">
                        <li>
                            <a href="/dashboard"><i class="glyphicon glyphicon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/broadcast"><i class="glyphicon glyphicon-chevron-right"></i> Broadcast Email</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Manager</a><!-- calendar.html -->
                            <ul class="nav navbar-collapse bootstrap-admin-navbar-side manager">
                                <li><a href="/kontak"><i class="glyphicon glyphicon-chevron-right"></i> Kontak</a></li>
                                <li><a href="/list"><i class="glyphicon glyphicon-chevron-right"></i> Group List</a></li>
                                <li><a href="/group"><i class="glyphicon glyphicon-chevron-right"></i> Buat Anggota Group</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/template"><i class="glyphicon glyphicon-chevron-right"></i>Email Template</a><!-- stats.html -->
                        </li>
                        <li>
                            <a href="#!"><i class="glyphicon glyphicon-chevron-right"></i>Setting</a><!-- stats.html -->
                            <ul class="nav navbar-collapse bootstrap-admin-navbar-side setting">
                                <li><a href="/user"><i class="glyphicon glyphicon-chevron-right"></i> Users</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/logout"><i class="glyphicon glyphicon-chevron-right"></i>Logout</a><!-- stats.html -->
                        </li>
                    <!--    <li>
                            <a href="#"><span class="badge pull-right">731</span> Inbox</a>
                        </li>  -->
                    </ul>
                </div>

                <!-- content -->
                <div class="col-md-10">
                    {% block content%}{% endblock %}
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="navbar navbar-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <footer role="contentinfo">
                            <p class="left">Bootstrap 3.x Admin Theme</p>
                            <p class="right">&copy; 2013 <a href="http://www.meritoo.pl" target="_blank">Meritoo.pl</a></p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-admin-theme-change-size.js"></script>
        <script type="text/javascript" src="/vendors/easypiechart/jquery.easy-pie-chart.js"></script>

        <script type="text/javascript" src="/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/javascripts/bootstrap-wysihtml5/wysihtml5.js"></script>
        <script type="text/javascript" src="/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/javascripts/bootstrap-wysihtml5/core-b3.js"></script>

        <script type="text/javascript" src="/js/iziModal.min.js"></script>
        <script type="text/javascript" src="/js/custom.js"></script>

        {% block addScript %}{% endblock %}

        <script type="text/javascript">
        $(function() {
                // Easy pie charts
                $('.easyPieChart').easyPieChart({animate: 1000});
            });
        </script>
    </body>
    </html>