{% extends "dashboard-layout.twig" %}

{% block content %}

<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1>Group Contact List</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-success bootstrap-admin-alert hidden">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4>Success</h4>
			The operation completed successfully
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div id="group-kontak" class="iziModal">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="text-muted bootstrap-admin-box-title">Kontak List | <a class="btn btn-xs btn-primary addmember">Add to Group</a>
					</div>
				</div>
				<div class="bootstrap-admin-panel-content">
					<table class="table table-bordered" id="list-dt">
						<thead>
							<tr>
								<th>Nama</th>
								<th>Email</th>
								<th>Telp</th>
								<th>Alamat</th>
							</tr>
						</thead>
						<tbody>
							{% for dt in kontakwogroup %}
							<tr class="odd gradeX multiple-table" id={{ dt._id }}>
								<td>{{ dt.nama }}</td>
								<td>{{ dt.email }}</td>
								<td>{{ dt.telp }}</td>
								<td>{{ dt.alamat }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<div class="navbar navbar-default bootstrap-admin-navbar-thin">
			<ol class="breadcrumb bootstrap-admin-breadcrumb">
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li>
					<a href="#">Manage</a>
				</li>
				<li class="active">List</li>
			</ol>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-muted bootstrap-admin-box-title">Member in Group | <a class="btn btn-xs btn-primary add-group-list">Add</a>&nbsp;<button class="btn btn-xs btn-warning remove-group">Remove</button>
					<div class="pull-right">
						<div class="col-lg-10">
							<select class="form-control" id="groups" name="groups" style="font-size:12px;height:25px;width:90px;padding:0px;">
								{% for data in listgroup %}
								<option value={{ data.list_id }}>{{ data.list_nama }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="bootstrap-admin-panel-content">
				<table class="table table-bordered" id="example">
					<thead>
						<tr>
							<th>Nama</th>
							<th>Email</th>
							<th>Telp</th>
							<th>Alamat</th>
							<th>Group</th>
						</tr>
					</thead>
					<tbody>
						{% for kontak in listkontak %}
						<tr class="odd gradeX edit-table" id={{ kontak._id }}>
							<td>{{ kontak.nama }}</td>
							<td>{{ kontak.email }}</td>
							<td>{{ kontak.telp }}</td>
							<td>{{ kontak.alamat }}</td>
							<td>{{ kontak.group }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

{% endblock %}

{% block addScript %}
<script type="text/javascript" src="/vendors/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/DT_bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.manager li:eq(2)').addClass('active');
	$('select#groups').val("{{pilihan}}");
});
</script>
{% endblock %}