{% extends 'dashboard-layout.twig' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12 form-group">
		<form method="post" action="/importer">
			<input type="file" name="filepath" id="filepath" width="40%" class="form-control"/><button class="btn btn-secondary" id="bnt-import">Import</button>
		</form>
	</div>
</div>
{% endblock %}