{% extends "master-layout.twig" %}

{% block title %}
{{ title }}
{% endblock %}
{% block body %}
<div class="wrapper">
	<form class="form-signin" method="post" action="login">       
		<h2 class="form-signin-heading">Please login</h2>
		{% if (message.length > 0) %}
		<div class="alert alert-danger"> {{ message }}</div>
		{% endif %}
		<input type="text" class="form-control" name="email" placeholder="Email Address" required="true" autofocus="" />
		<input type="password" class="form-control" name="password" placeholder="Password" required="true"/>      
		
		<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me

		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
	</form>
</div>
{% endblock %}