{% extends "dashboard-layout.twig" %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1>Mailing List</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="navbar navbar-default bootstrap-admin-navbar-thin">
			<ol class="breadcrumb bootstrap-admin-breadcrumb">
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li class="active">Broadcast</li>
			</ol>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default bootstrap-admin-no-table-panel">
			<div class="panel-heading">
				<div class="text-muted bootstrap-admin-box-title">Send Email</div>
			</div>
			<div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
				<form method="post" action="/broadcast" name="bc_form" class="form-horizontal" style="padding:15px">
					<fieldset>
						<legend>Mail Form</legend>
						<div class="from-group">
							<div class="col-lg-6">
								<input type="text" class="form-control" name="recipent" id="recipent" placeholder="Penerima" />
							</div>
							<div class="col-lg-3">
								<select id="kontak-group" name="kontak-group" class="form-control" disabled="true">
									<option disabled selected>Pilih Group</option>
									{% for list in datagroup %}
									<option value="{{ list._id }}">{{ list.list_nama }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-lg-3" style="padding:11px">
								<input type="checkbox" id="use-group" name='usegroup' value="1" style="form-control">Use Group</input>
							</div>
						</div>
						<div class="from-group">
							<div class="col-lg-12">
								<input type="text" class="form-control" name="from" id="from" placeholder="From"/>
							</div>
						</div>
						<div class="from-group">
							<div class="col-lg-12">
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Subjek"/>
							</div>
						</div>
						<div class="from-group">
							<div class="col-lg-4">
								<select id="template-select" name="template-select" class="form-control" placeholder="Template" disabled="true" >
									<option disabled selected>Pilih Template</option>
									{% for data in temp %}
									<option value="{{ data._id }}">{{ data.nama }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-lg-8" style="padding:11px">
								<input type="checkbox" id="use-template" name='usertemplate' value="1" style="form-control">Use Template</input>
							</div>
						</div>
						<div class="from-group">
							<div class="col-lg-12">
								<textarea class="form-control" name="isi" id="ckeditor_full" placeholder="Konten"></textarea>
							</div>
						</div>
						<hr/>
						<div class="from-group">
							<div class="col-lg-12" style="margin-top:10px">
								<button class="btn btn-primary">Kirim</button><button class="btn btn-secondary">Preview</button>
							</div>

						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block addScript %}
<script>
$(document).ready(function(){
	$('textarea#ckeditor_full').ckeditor({
		height: '200px'
	});
});
</script>
<script type="text/javascript" src="/vendors/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/vendors/ckeditor/adapters/jquery.js"></script>
<script>
$('.menu-utama li:eq(1)').addClass('active');
</script>
{% endblock %}