{% extends "dashboard-layout.twig" %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Kontak</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="modal-user" class="iziModal">
            <form id='add-kontak' class="form-horizontal" method="post" action="/user" style="padding:20px">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="username">Username</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="username" name="username" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="pass">password</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="pass" name="password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="email">Email</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="email" name="email" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="fname">Nama Depan</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="fname" name="fname" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="lname">Nama Belakang</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="lname" name="lname" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="telp">No. Telp</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="telp" name="telp" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-xs btn-primary" >Tambah</button>&nbsp;<a class="btn btn-xs btn-warning" onclick="$('#modal-user').iziModal('close');">Batal</a>
                    </div>
                </div>

            </form>
        </div>
        <div id="modal-edit-user" class="iziModal">
            <form id='edit-user' class="form-horizontal" method="post" action="/" style="padding:20px">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="e_username">Username</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="e_username" name="username" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="e_pass">password</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="e_pass" name="password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="e_email">Email</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="e_email" name="email" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="e_fname">Nama Depan</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="e_fname" name="fname" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="e_lname">Nama Belakang</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="e_lname" name="lname" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="e_telp">No. Telp</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="e_telp" name="telp" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-xs btn-primary" >Tambah</button>&nbsp;<a class="btn btn-xs btn-warning" onclick="$('#modal-edit-user').iziModal('close');">Batal</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success bootstrap-admin-alert hidden">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Success</h4>
            User Berhasil ditambahkan
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="navbar navbar-default bootstrap-admin-navbar-thin">
            <ol class="breadcrumb bootstrap-admin-breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Setting</a>
                </li>
                <li class="active">User</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">User List | <a class="btn btn-xs btn-primary add-user-link">Add</a>&nbsp;<button class="btn btn-xs btn-success" id="edit-user-link">Edit</button>&nbsp;<button class="btn btn-xs btn-warning" onclick="del_user()">Delete</button></div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table class="table table-bordered" id="example">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Nama</th>
                            <th>No. Telp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in data %}
                        <tr class="odd gradeX tablemark" id={{ user._id }}>
                            <td>{{ user._id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td class="center">{{ user.nama_depan }}</td>
                            <td class="center">{{ user.telp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block addScript %}
<script type="text/javascript" src="vendors/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/DT_bootstrap.js"></script>
<script>
$('.setting li:eq(0)').addClass('active');
</script>
{% endblock %}
